<div class="text-center">
    <h1 class="text-info pt-4">Parabéns! Você está um passo mais perto do estilo de vida geek.</h1>
    <p class="pb-3">Recebemos seu pedido e seu pagamento será processado em breve!</p>
    <img src="/images/order.png" style="width: 80%" />
</div>
